
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/assets/node_moduls
.idea
docker/volumes
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###\

/public/*
!/public/_appsource/
!public/index.php
!public/router.php
!public/favicon.ico

run
data.ms
meilisearch
